* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
.controller{
  display: inline-block;
  margin:10px 5px;
  width:305px;
  vertical-align: top;
  background-color: #313131;
  position: relative;
}

.controller .top{
  height:300px;
  background-size:     contain;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: top center;   
  position: relative;  
}
.controller .controls {
  margin:5px 0;
}
.controller .top h1{
  margin:0;
  padding:0;
  color:white;
}

.controller .trackInfo {
  vertical-align: text-bottom;
  background-color: #313131;  
  position: absolute;
  bottom: 0;
  left: 0;
  width:100%;
  opacity: 0.90;
  color:white;
  padding:0 5px;
  box-sizing: border-box;
  
}
.controller .trackInfo h1,
.controller .trackInfo h3, 
.controller .trackInfo h4
  {
  margin:3px 0;
  padding:0;
  overflow:hidden;
  font-weight:normal;
}
.controller .trackInfo h1 {
  font-weight: bold;
}

.controller .playButton,
.controller .pauseButton,
.controller .nextButton,
.controller .previousButton,
.controller .muteButton,
.controller .volumeDownButton,
.controller .volumeUpButton,
.controller .offButton {
    border-radius: 50%;
    width: 130px;
    height: 130px; 
    color:white;
    border:0;
    margin:auto;
}
button:focus {outline:0;}
button:active {
  background-color:#585858 !important;
}

.controller .playButton {
  background: #383838 url('https://s3.amazonaws.com/detz-public/images/playButton.svg') no-repeat center center;  
  background-size: 40px 40px;  
}
.controller .pauseButton {
  background: #383838 url('https://s3.amazonaws.com/detz-public/images/pauseButton.svg') no-repeat center center; 
  background-size: 40px 40px;  
}
.controller .nextButton,
.controller .previousButton {  
  width: 80px;
  height: 80px; 
  background: #383838;
}
.controller .nextButton {
  background: #383838 url('https://s3.amazonaws.com/detz-public/images/nextButton.svg') no-repeat center center; 
}
.controller .previousButton {
  background: #383838 url('https://s3.amazonaws.com/detz-public/images/previousButton.svg') no-repeat center center; 
}
.controller .muteButton {  
  width: 80px;
  height: 80px; 
  background: #383838 url('https://s3.amazonaws.com/detz-public/images/muteButton.svg') no-repeat center center;   
  background-size: 30px 30px;      
}
.muted {  
  background-color:#585858 !important;  
}

.controller .volumeDownButton,
.controller .volumeUpButton {  
  width: 80px;
  height: 80px; 
  background: #383838;
}

.controller .volumeDownButton {
  background: #383838 url('https://s3.amazonaws.com/detz-public/images/volumeDownButton.svg') no-repeat center center;   
  background-size: 30px 30px;    
}
.controller .volumeUpButton { 
  background: #383838 url('https://s3.amazonaws.com/detz-public/images/volumeUpButton.svg') no-repeat center center;   
  background-size: 30px 30px;      
}  
.controller .volume {
  color:#616161;
  font-size:24px;
  position:absolute;
  font-weight:bold;
  left:0; 
  right:0; 
  margin: 20px 0;
  z-index:1;
}

.controller .offButton {  
  width: 50px;
  height: 50px; 
  background: #313131 url('https://s3.amazonaws.com/detz-public/images/offButton.svg') no-repeat center center;
  margin:10px 10px;
  float:left;
  z-index:10;
  position: relative;
}