.streamModal .playlist {
    cursor: pointer; 
    display:inline-block;
    z-index:15;
}

.streamModal .playlist .trackImage {
    width:120px;
    height:120px;
    display:inline-block;
    margin:5px;
}

.streamModal .playlist .trackInformation {
    color:#717171;
}