.streamModal .stream {
    cursor: pointer; 
    display:inline-block;
    z-index:15;
}

.streamModal .trackImage {
    width:150px;
    height:150px;
    display:inline-block;
}

.streamModal .trackInformation {
    /* display: inline-block; */
    /* vertical-align: top; */
}