.streamModal {
    z-index:11;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,19,0.9);
    padding: 50;
    color:white;
    overflow-y: auto;
}
.streamModal h3 {
  font-weight:normal;
}
.streamModal .cancel {
  background: white;
}